---
import MainLayout from "@/layouts/MainLayout.astro";
import { actions } from "astro:actions";

const { data: products, error } = await Astro.callAction(
  actions.getProductsByPage,
  {
    page: 1,
    limit: 12,
  }
);

console.log(products);
---

<MainLayout>
  <h1 class="text-3xl">Home Page</h1>
</MainLayout>
